<!-- exercises/email_preview.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='container bg-secondary'>
    <div class='row justify-content-center'>
        <div class='col-md-6  text-light'>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.subject.label_tag }}: {{ form.subject }}
                </div>
                <div>
                    {{ form.message.label_tag }}: {{ form.message }}
                </div>
                <div>
                    {{ form.recipient_list.label_tag }}: {{ form.recipient_list }}
                </div>
                <button type="submit">Send Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
