{% extends "base.html" %}
{% load static %}
{% block title %}
  Exercises
{% endblock title %}
{% block style %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}
{% block content %}
  <div class='row text-center my-5'>
    <h1 class='text-light'>Exercises</h1>
  </div>
  <div class='row '>
    {% for exercise in object_list %}
      <div class="col-md-3 mb-5 mx-5">
        <div class="card">
          {% if exercise.image != 'None' %}
            <img src="{{ exercise.image.url }}"
                 class="card-img-top"
                 alt="{{ exercise.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ exercise.name }}</h5>
            <p class="card-text">Here is a breif description of the exercise and the body groups it targets.</p>
            <a href="{{ exercise.link }}" target="_blank" class="btn btn-primary">view Video <i class="bi bi-box-arrow-up-right"></i></a>
            <a href="/admin/exercises/exercise/{{ exercise.id }}/change/"
               target="_blank"
               class="btn btn-secondary">Edit Exercise <i class="bi bi-box-arrow-up-right"></i></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
