<html>
    <body>
        <p>Hi [{{name}}],</p>
        <p>I noticed it's been a while since you've been in the clinic.</p>
        <p>How are you getting on? Are you making progress towards your goals?</p>
        <p>Best regards,</p>
        <strong>[{{sender}}] - Physiotherapist</strong>
        <br>
        <p>Phone: (02) 9905 0048</p>
        <p>
            <a href={{booking_link}}>Book Online</a>
        </p>
        <img src={{image_url}} alt="Physio Ward Logo" width="100" height="50">
        <br>
    </body>
</html>
