asgiref==3.7.2
autopep8==2.0.4
coverage==7.4.3
crispy-bootstrap5==2023.10
Django==5.0.1
django-crispy-forms==2.1
django-silk==5.1.0
gprof2dot==2022.7.29
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pycodestyle==2.11.1
pytest==8.0.2
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-mock==3.12.0
python-dotenv==1.0.1
sqlparse==0.4.4
