{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock style %}
{% block content %}
    <body class="login">
        <div class='container'>
            <div class= "row mt-5 align-items-center justify-content-center">
                <div class="col-md-6 text-center align-items-center text-light">
                    <div class="card rounded-3 bg-dark text-light">
                        <div class='card-body'>
                            <h1 class='card-title my-3'>Change Password</h1>
                            <form method="post"">
                                {% csrf_token %}
                                <div class="text-light">
                                {{ form|crispy }}
                            </div>
                                <button class= "btn btn-primary mb-4" type="submit">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
