{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="icon" href="{% static 'dumbbell.png' %}" type="image/x-icon">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    {% block style %}
    {% endblock style %}
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid search">
        <a class="navbar-brand" href="{% url "home" %}">Physio Tools</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Prescribe
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "prescribe" %}">Generate Prescription</a></li>
                <li><a class="dropdown-item" href="{% url "exercises" %}">Exercise Database</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "activate" %}">Activate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "insights" %}">Discover</a>
            </li>
            
          </ul>
          {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Log Out</button>
            </form>
          {% else %}
            <a href="{% url "login" %}">
              <button class='btn btn-primary'>Login</button>
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
  <footer class="fixed-bottom text-info bg-dark">
    <div class="container">
      <div class="row p-3">
        <div class="col-md-4"><h5><a target="__blank" href="https://liammiller.net/">Contact</a></h5></div>
        <div class="col-md-4"><h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
          <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
        </svg> Liam Miller {{year}}</h5>
        </div>
        <div class="col-md-4"><h5>Sitemap</h5></div>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
</html>
